In [ ]:
import pomegranate
pomegranate.utils.enable_gpu()

In [44]:
from __future__ import print_function
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import datetime
import pandas
import numpy as np
from matplotlib import cm, pyplot as plt
from matplotlib.dates import YearLocator, MonthLocator
from pomegranate import *
data=pandas.read_csv("./data/processed/2017.csv")
# define delay as DepDelay > 30 or ArrDelay>30 -- which implies traveler anxious at airport or miss connection flight
data["Delay"] = (data["DepDelay"] > 30) | (data["ArrDelay"] > 30)

# normalize data, drop year, quarter, Origin, Dest, 

data = data[["Month", "DayofMonth","DayOfWeek","UniqueCarrier","FlightNum","OriginAirportID", "Origin","DestAirportID","Dest","ArrTime","DepTime","AirTime","Distance","Delay"]]
# descritize deptime, arrtime, airtime, distance

In [76]:
# splice_series
def splice_series(input_data):
    series = []
    lengths = []
    for month in input_data.Month.unique():
        for day in input_data.DayofMonth.unique():
            series.append(input_data[(input_data.Month == month)  & (input_data.DayofMonth==day)].as_matrix())
            lengths.append(len(series[-1]))
#     series = np.concatenate(series)
    return series, lengths

In [46]:
#discretize ArrTime, DepTime, AirTime,Distance
# ArrTime, DepTime are divided by 100, because 22:30 is sored as 2230.
# AirTime is divided into hours
# Distance is divided by 250

data["ArrTime"] = data["ArrTime"]//100
data["DepTime"] = data["DepTime"]//100
data["AirTime"] = data["AirTime"]//60
data["Distance"] = data["Distance"] // 250
label_set = pandas.factorize(data["UniqueCarrier"])
data["UniqueCarrier"]=label_set[0]
# keep only flights from IAH airport
data = data[data["Origin"]=="IAH"]
data = data.drop("Dest",1)
data = data.drop("Origin",1)
display(data.head())

,Month,DayofMonth,DayOfWeek,UniqueCarrier,FlightNum,OriginAirportID,DestAirportID,ArrTime,DepTime,AirTime,Distance,Delay
820,1,1,7,0,540,12266,14107,7.0,5.0,2.0,4.0,False
821,1,2,1,0,540,12266,14107,8.0,6.0,2.0,4.0,True
822,1,3,2,0,540,12266,14107,7.0,5.0,2.0,4.0,False
823,1,5,4,0,540,12266,14107,7.0,5.0,2.0,4.0,False
824,1,6,5,0,540,12266,14107,7.0,6.0,2.0,4.0,False

In [77]:
series, lengths = splice_series(data)

model = HiddenMarkovModel.from_samples(NormalDistribution, n_components=2, X=series)

In [90]:
for i in series:
    (model.fit(i))

In [91]:
for i in series:
    print(np.mean(model.predict(i)))

1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
Warning: Sequence is impossible.
nan
Warning: Sequence is impossible.
nan
1.0
1.0
Warning: Sequence is impossible.
nan
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
Warning: Sequence is impossible.
nan
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
Warning: Sequence is impossible.
nan
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
Warning: Sequence is impossible.
nan
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
Warning: Sequence is impossible.
nan
1.0
1.0
1.0
1.0

/usr/local/lib/python3.5/dist-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.5/dist-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)